doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Details Page
    body 
        div
        |    #{msg}
        |    #{data1}
        |    #{data2}
        |    #{data3}
        |    #{data4}
        |    #{data5}
        |    #{data6}
        |    #{data7}
        |    #{data8}