doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Details Page
    body 
        div(class="main__block")
            div(class="container")
                div(class="container__insider")
                    div(class="container__title") Student Chat Bot
                    div(class="container__box")
                    |    #{msg}
                    br
                    |    #{data1}
                    br
                    |    #{data2}
                    br
                    |    #{data3}
                    br
                    |    #{data4}
                    br
                    |    #{data5}
                    br
                    |    #{data6}
                    br
                    |    #{data7}
                    br
                    |    #{data8}